{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="mt-10 flex flex-col">
    <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
        <header class="px-5 py-4 border-b border-gray-100">
            <button class="rounded bg-sky-500 text-white p-1"><a href="{% url 'store' %}"> <i class="fa fa-arrow-left text-xs text-white cursor-pointer" aria-hidden="true"></i> Continue Shopping</button>
        </header>
        <div class="p-3">
            <div class="overflow-x-auto">
                <table class="table-auto w-full">
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                        <tr>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-bold text-left text-black">Items: {{order.get_cart_items}}</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-bold text-left text-black">Total: $ {{order.get_cart_total}}</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-bold text-left"><button class="rounded bg-green-500 p-2 text-white font-bold">Checkout</button></div>
                            </th>
                        </tr>
        </thead>
        </table>
        </div>
    <br>
    <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
        <header class="px-5 py-4 border-b border-gray-100">
            <h2 class="font-semibold text-gray-800">Your basket</h2>
        </header>
        <div class="p-3">
            <div class="overflow-auto">
                <table class="table-auto w-full">
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                        <tr>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-left">Item</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-left">Price</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-left">Quantity</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-left">Total</div>
                            </th>
                        </tr>
                    </thead>
        {% for item in items %}
                    <tbody class="text-sm divide-y divide-gray-100">
                        <tr>
                            <td class="p-2 whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full" src="{{ item.product.image.url }}"></div>
                                    <div class="font-medium text-gray-800">{{item.product.title}}</div>
                                </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left">$ {{item.product.price|floatformat:2}}</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-left font-medium text-green-500">{{item.quantity}}  <i class="fa fa-arrow-up text-xs cursor-pointer hover:text-sky-600" aria-hidden="true"></i>
                    
                                    <i class="fa fa-arrow-down text-xs cursor-pointer hover:text-sky-600" aria-hidden="true"></i></div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                                <div class="text-lg text-center">$ {{item.get_total}}</div>
                            </td>
                        </tr>
        {% endfor %}
    </div>
</div>


{% endblock content %}