{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e81d17d39f.js" crossorigin="anonymous"></script>
    <title>Django Store</title>
</head>
<body>
    <div id="app">
        <div class="bg-slate-800 flex justify-between pt-1 pb-1 pl-3 text-slate-100">
          <h1 class="text-white bold text-xl mt-3">DjangoEcom</h1>
          <div class="flex mr-3 text-slate-100 pb-3 pt-3">
            <form method="GET" class="mt-2 mr-6">
              <input type='text' class="rounded" name='search-area' value="{{search_input}}">
              <input class="button rounded bg-slate-800" type="submit" value='Search' >
            </form>
            <button class="mr-3 hover:text-cyan-400 active:text-cyan-4005 text-xl"><a href="{% url 'store' %}">Store</a></button>
            <button class="mr-3 hover:text-cyan-400 active:text-cyan-4005 text-xl"><a href="{% url 'cart' %}"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></button>
            <button class="rounded bg-amber-400 p-1 text-xl mr-2">Login</button>
          </div>
            
          
        </div>
      </div>
    <div class="container flex justify-center">
    {% block content %} 

    {% endblock content %}
    </div>
    

    
   
</body>
</html>