{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div>
    
        <button class="rounded bg-sky-500 text-white p-1 mt-2"> <i class="fa fa-arrow-left text-xs text-white cursor-pointer" aria-hidden="true"></i> Continue Shopping</button>
    
        <div class="ml-8 mt-5">
            {% if product.image %}
            <img class="" src="{{product.image.url}}" width=500 height=200>
            {% endif %}
            <div class="mt-6 tracking-widest text-4xl text-center"><h6><strong>{{product.title}}</strong></h6>
            
        </div>
        <div class="mt-8">
             <strong class="text-lg">Description:</strong> <span class="text-gray-800 font-medium">{{product.description}}</span><br>
             <strong class="text-lg">Price:  </strong><span class="text-gray-800 font-medium">$ {{product.price|floatformat:2}}</span>
        </div>
</div>
{% endblock content %}