{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div class="flex flex-wrap justify-center flex-row">
{% for product in products %}
<div class="flex">
    
        <div class="shadow shadow-gray-300 border-b border-lighter p-10"><h6><strong>{{product.title}}</strong></h6>
        <button class="bg-sky-500 text-white p-2 rounded mt-1">Add to Cart</button>
        <button class="bg-green-500 text-white p-2 rounded mt-1"><a href="#">View</a></button>
        <h4 class="inline-block float-right text-lg text-gray-800 font-medium">$ {{product.price|floatformat:2}}</h4>
        </div>
    </div>
    
   
</div>
{% endfor %}
</div>
{% endblock content %}